@import '../../../breakpoints.scss';
@include tablet {
    // .layout {
    //   display: block !important;
    // }
  }

  .hide{
    visibility: hidden;
  }

  .show{
    visibility: visible;
  }
  .filt{
    display: contents;
  }

  