// @keyframes fadeIn {
//     from {top: 20%; opacity: 0;}
//     to {top: 100; opacity: 1;}
    
//   }
  
//   @-webkit-keyframes fadeIn {
//     from {top: 20%; opacity: 0;}
//     to {top: 100; opacity: 1;}
    
//   }
//   .layout-tem{
//     transform: translate(-50%, -50%);
//     -webkit-transform: translate(-50%, -50%);   
//     animation: fadeIn 1000ms ease;
//     -webkit-animation: fadeIn 1000ms ease;
    
//   }